doctype html
html
  head
    title #{pageTitle}
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/static/styles.css")
  body
    main
        div
            button
                a(href="/") DIARY
            button
                a(href="/week") WEEKLY
            button
                a(href="/month") MONTHLY
            button
                a(href="/todo") TODO
            button
                a(href="/todopage") TODOPAGE
        block content
    script(src="/static/main.js")