extends layouts/main

block content
    .todoContainer
        form(method="post" action="/todo")
            input(type="text" placeholder="Todo", name="title")
            input(type="submit", value="ADD")