extends layouts/main

block content
  section.to-do
    article.to-do_left
      form.to-do_left_input
        button.to-do_left_input_btn
          span +
        input.to-do_left_input_text(type='text')
      ul.to-do_container
    article.to-do_right
      h1.to-do_right_header
      .to-do_right_timer
        span.to-do_right_timer_display-time
          label#minutes 00:
          label#seconds 00
      div
        button.to-do_right_timer_start START
        button.to-do_right_timer_finish FINISH
