@import "reset.css";

.to-do {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.to-do_left{
    height: 70%;
    padding: 30px;
    border-radius: 5%;
    background-color: #c9cdd2;
}

.to-do_left_input {
    display: flex;
    margin-bottom: 10px;
}

.to-do_left_input_btn{
    background-color: transparent;
    border: none;
}

.to-do_left_input_text{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid black 1px;
}

.to-do_left_lists{
    padding: 10px;
    background-color: #e8ebed;
    border-radius: 10px;
}

.to-do_left_lists_main{
    display: flex;
    justify-content: space-between;
}

.to-do_left_lists_main_delete{
    background-color: transparent;
    border: none;
}

.to-do_left_lists_link{
    font-size: 0.8em;
}

.to-do_left_lists_options {
    display: flex;
    align-items: center;
}

.to-do_left_lists_options_color{
    font-size: 0.8em;
    margin-left: 5px;
}

#index-color{
    background-color: transparent;
    border: none
}

.to-do_left_lists_options_time-text{
    font-size: 0.8em;
}

.to-do_left_lists_options_time{
    width: 70px;
}

.to-do_right{
    width: 30%;
    height: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
    background-color: #c9cdd2;
}

.to-do_right_timer{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #72787f;
    position: relative;
}

.to-do_right_timer > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
}

.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}

.to-do_right_timer_display-time{
    display: flex;
}